.mobile-navigation {
    display: none;
    position: absolute;
    top: 30px;
    left: 15px;
}

.mobile-navigation__burger {
    width: 33px;
    height: 23px;
    flex-shrink: 0;
    cursor: pointer;
}

.mobile-navigation__toggler {
    display: none;
}

.mobile-navigation__menu {
    position: fixed;
    inset: 0;
    padding: 30px 20px 10px 20px;
    background-color: var(--color-white);
    transform: translate(-100%, 0);
    transition: transform 0.3s ease-in-out;
}

.mobile-navigation__toggler:checked ~ .mobile-navigation__menu {
    transform: translate(0, 0);
    
}

.mobile-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 30px;
}

.mobile-navigation__link {
    font-size: 30px;
    font-weight: 500;
}

.mobile-navigation__item:hover {
    color: var(--color-green);
}

.mobile-navigation__close {
    position: absolute;
    top: 40px;
    left: 20px;
}

.mobile-navigation__cross {
    width: 27px;
    height: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mobile-navigation {
        display: block;
    }
}